<section class="testimonials">
  <div class="container">
    <div class="section-header">
      <h2 class="title">Testimonial section (in progress)</h2>
    </div>
    <div class="testimonials-content">
      <div class="swiper-container testimonials-slider js-testimonials-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/fleprieur.jpeg" alt="Fabrice Stephenson">
                <div class="text-box">
                  <h3 class="name">Prof. Fabien Leprieur</h3>
                  <span class="job">University of Montpellier</span>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/fstephenson_2.png" alt="Fabrice Stephenson">
                <div class="text-box">
                  <h3 class="name"> Dr. Fabrice Stephenson</h3>
                  <span class="job">Newcastle University</span>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonials-item">
            <div class="info">
              <img src="/assets/img/testimonials/fmatheson.jpeg" alt="Fleur Matheson">
              <div class="text-box">
                <h3 class="name">Dr. Fleur Matheson</h3>
                <span class="job">National Institute for Water and Atmospheric Research</span>
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <!-- Add more swiper-slide elements for additional testimonials -->
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>