<section class="testimonials">
  <div class="container">
    <div class="testimonials-content">
      <div class="swiper-container testimonials-slider js-testimonials-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/fleprieur.jpeg" alt="Fabrice Stephenson">
                <div class="text-box">
                  <h3 class="name">Prof. Fabien Leprieur</h3>
                  <span class="job">University of Montpellier</span>
                </div>
              </div>
              <p>I had the pleasure of being Theo's PhD co-supervisor at the University of Montpellier. <br><br> 
                 Throughout his PhD journey, Theo demonstrated exceptional leadership and self-motivation, 
                 driving his research program with remarkable independence. <br><br>
                I was consistently impressed by Theo's ability to assemble a team of international experts, 
                develop sophisticated programming pipelines, and by his outstanding writing skills. 
                His clear communication in both French and English was evident throughout his work. <br><br>
                His efforts culminated in the publication of four manuscripts in highly regarded journals, a remarkable achievement that far
                exceeds the expectations for an early-career scientist and is a true testament to his productivity. <br><br>
                On the day of his defense, I expressed my gratitude to Theo for allowing me to supervise his research, as the experience was enriching for me as well.<br><br> 
                I highly recommend working with him!</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/fstephenson_3.png" alt="Fabrice Stephenson">
                <div class="text-box">
                  <h3 class="name"> Dr. Fabrice Stephenson</h3>
                  <span class="job">Newcastle University</span>
                </div>
              </div>
              <p>I was Theo's main collaborator while working as a marine scientist at the National Institute of Water and Atmospheric Research
                 in New Zealand. <br><br> 
                 I truly enjoyed working with Theo, as he demonstrated a strong eagerness to deliver innovative and impactful work. 
                 I was particularly impressed by Theo's ability to work independently in a foreign country and to quickly develop strong 
                 professional skills. <br><br>
                 I can highly recommend working with Theo!</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/fmatheson.jpeg" alt="Fleur Matheson">
                <div class="text-box">
                  <h3 class="name">Dr. Fleur Matheson</h3>
                  <span class="job">National Institute for Water and Atmospheric Research</span>
                </div>
              </div>
              <p>I hired Theo as a research assistant at the National Institute of Water and Atmospheric Research in New Zealand. 
                Theo provided remarkable leadership in the research program I entrusted him with and demonstrated an impressive capacity to 
                quickly learn and apply modern programming and statistical skills.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/jharris.jpg" alt="Joanna Harris">
                <div class="text-box">
                  <h3 class="name">Dr. Joanna Harris</h3>
                  <span class="job">University of Plymouth</span>
                </div>
              </div>
              <p>During Theo's time as a postdoctoral researcher with the IUCN Species Survival Commission's Shark Specialist Group and 
                the Important Shark and Ray Areas (ISRA) initiative, he played a crucial role in coordinating ISRA proposals for the Western Indian Ocean. 
                As the coordinator for Mauritius, Theo's leadership was instrumental in our successful collaboration, resulting in the designation of Egmont Atoll
                 in the Chagos Archipelago, a vital habitat for reef manta rays. His expertise and guidance were key to this achievement, 
                 marking a significant milestone for reef manta ray conservation efforts in the Indian Ocean</p>
            </div>
          </div>
          <!-- Add more swiper-slide elements for additional testimonials -->
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>