<section class="testimonials">
  <div class="container">
    <div class="testimonials-content">
      <div class="swiper-container testimonials-slider js-testimonials-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/fleprieur.jpeg" alt="Fabrice Stephenson">
                <div class="text-box">
                  <h3 class="name">Prof. Fabien Leprieur</h3>
                  <span class="job">University of Montpellier</span>
                </div>
              </div>
              <p>I had the pleasure of being Theo's PhD co-supervisor at the University of Montpellier. <br><br> 
                 Throughout his PhD journey, Theo demonstrated exceptional leadership and self-motivation, 
                 driving his research program with remarkable independence. <br><br>
                I was consistently impressed by Theo's ability to assemble a team of international experts, 
                develop sophisticated programming pipelines, and by his outstanding writing skills. 
                His clear communication in both French and English was evident throughout his work. <br><br>
                His efforts culminated in the publication of four manuscripts in highly regarded journals, a remarkable achievement that far
                exceeds the expectations for an early-career scientist and is a true testament to his productivity. <br><br>
                On the day of his defense, I expressed my gratitude to Theo for allowing me to supervise his research, as the experience was enriching for me as well.<br><br> 
                I highly recommend working with him!</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/fstephenson_3.png" alt="Fabrice Stephenson">
                <div class="text-box">
                  <h3 class="name"> Dr. Fabrice Stephenson</h3>
                  <span class="job">Newcastle University</span>
                </div>
              </div>
              <p>I was Theo's main collaborator while working as a marine scientist at the National Institute of Water and Atmospheric Research
                 in New Zealand. <br><br> 
                 I truly enjoyed working with Theo, as he demonstrated a strong eagerness to deliver innovative and impactful work. 
                 I was particularly impressed by Theo's ability to work independently in a foreign country and to quickly develop strong 
                 professional skills. <br><br>
                 I can highly recommend working with Theo!</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/fmatheson.jpeg" alt="Fleur Matheson">
                <div class="text-box">
                  <h3 class="name">Dr. Fleur Matheson</h3>
                  <span class="job">New Zealand's National Institute for Water and Atmospheric Research</span>
                </div>
              </div>
              <p>I hired Theo as a research assistant at the National Institute of Water and Atmospheric Research in New Zealand. 
                Theo provided remarkable leadership in the research program I entrusted him with and demonstrated an impressive capacity to 
                quickly learn and apply modern programming and statistical skills.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/jharris_f.jpg" alt="Joanna Harris">
                <div class="text-box">
                  <h3 class="name">Dr. Joanna Harris</h3>
                  <span class="job">University of Plymouth</span>
                </div>
              </div>
              <p>During Theo's time as a postdoctoral researcher with the IUCN Species Survival Commission's Shark Specialist Group and 
                the Important Shark and Ray Areas (ISRA) initiative, he played a crucial role in coordinating ISRA proposals for the Western Indian Ocean.<br><br> 
                As the coordinator for Mauritius, Theo's leadership was instrumental in our successful collaboration, resulting in the designation of Egmont Atoll
                 in the Chagos Archipelago, a vital habitat for reef manta rays.<br><br> 
                 His expertise and guidance were key to this achievement, marking a significant milestone for reef manta ray conservation efforts in the Indian Ocean.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials-item">
              <div class="info">
                <img src="/assets/img/testimonials/Muriel_Gros-Balthazard.jpeg" alt="Muriel Gros-Balthazard">
                <div class="text-box">
                  <h3 class="name">Dr. Muriel Gros-Balthazard</h3>
                  <span class="job">French National Research Institute for Sustainable Development</span>
                </div>
              </div>
              <p>I had the pleasure of working with Théo on a 10-day freelance project involving R coding and data visualization. 
                Théo is not only highly skilled but also very approachable and easy to communicate with. 
                He quickly understood the project's requirements and delivered high-quality results.<br><br>
              He is exceptionally organized, and his outputs, including Quarto scripts, were impeccable and well-documented. 
              His professionalism and efficiency made the entire process smooth and enjoyable. 
              I would highly recommend Théo for any project requiring expertise in data analysis and visualization.</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>